{% assign ff = 'first-year/first-semester'  %}
{% assign fs = 'first-year/second-semester'  %}

{% assign st = 'second-year/third-semester'  %}
{% assign sf = 'second-year/fourth-semester'  %}

{% assign tf = 'third-year/fifth-semester'  %}
{% assign ts = 'third-year/sixth-semester'  %}

<div class="column">
    <div class="block homeblock spacing">
        <h2 style="margin-bottom: 2em;">Μαθήματα Σχολής</h2>

        <!-- First Year -->
        <div class="toppy spacing-year">
            <h3>Πρώτο έτος</h3>

            <div class="toppy">
                <h4>Πρώτο Εξάμηνο</h4>           
                <div class="lefty spacing1">
                    <div class="is-flex">
                        <img src="/assets/img/first-year/first-semester/calculus_logo.png" alt="calculus book" width="28">
                        <a href="#">Ανάλυση I</a>
                    </div>
                    <div class="is-flex">
                        <img src="/assets/img/first-year/first-semester/c++_logo.png" alt="c++ programming language logo" width="28">
                        <a href="/notes/{{ff}}/cpp">Αρχές Προγραμματισμού [C/C++]</a>
                    </div>

                    <div class="is-flex">
                        <img src="/assets/img/first-year/first-semester/python_logo.png" alt="python programming language logo" width="28">
                        <a href="/notes/{{ff}}/intro-to-computer-science-class">Εισαγωγή στην Επιστήμη των Υπολογιστών [Python]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/first-year/first-semester/logic_design_logo.png" alt="logic design book" width="28">
                        <a href="/notes/{{ff}}/logic-design">Λογική Σχεδίαση</a>
                    </div>

                    <div class="is-flex">
                        <img src="/assets/img/first-year/first-semester/math_ypol_logo.png" alt="mathematics book" width="28">
                        <a href="#">Μαθηματικά Υπολογιστών</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/first-year/first-semester/networks_logo.png" alt="world wide web logo" width="28">
                        <a href="/notes/{{ff}}/network-technologies-lab">Τεχνολογίες Διαδικτύου [HTML/CSS/JS/PHP]</a>
                    </div>
                </div>

            </div>

            <div>
                <h4>Δύτερο Εξάμηνο</h4>
                <div class="lefty spacing1">
                    <div class="is-flex">
                        <img src="/assets/img/first-year/second-semester/calculus_2_logo.png" alt="whiteboard with calculus on it" width="28">
                        <a href="#">Ανάλυση II</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/first-year/second-semester/java_logo.png" alt="java programming language logo" width="28">
                        <a href="#">Αντικειμενοστρεφής Προγραμματισμός [Java]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/first-year/second-semester/discrete_math_logo.png" alt="big pink π " width="28">
                        <a href="#">Διακριτά Μαθηματικά</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/first-year/second-semester/data_structure_logo.png" alt="tree like structure" width="28">
                        <a href="#">Δομές Δεδομένων [C++]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/first-year/second-semester/linear_algebra_logo.png" alt="binary matrix" width="28">
                        <a href="#">Εφαρμοσμένη Άλγεβρα</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/first-year/second-semester/computer_architecture_logo.png" alt="64 bit chip" width="28">
                        <a href="#">Αρχιτεκτονική Υπολογιστών [Assembly]</a>
                    </div>
                </div>
                
            </div>
            

        </div>

        <!-- Second Year -->
        <div class="toppy spacing-year">
            <h3>Δύτερο έτος</h3>

            <div>
                <h4>Τρίτο Εξάμηνο</h4>

                <div class="lefty spacing1">
                    <div class="is-flex">
                        <img src="/assets/img/second-year/third-semester/c_sharp_logo.png" alt="c# programming language logo" width="28">
                        <a href="/notes/{{st}}/object-oriented-application-development-class">Αντικειμενοστρεφής Ανάπτυξη Εφαρμογών [C# .Net Framework]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/second-year/third-semester/bash_logo.png" alt="bash programming language logo" width="28">
                        <a href="/notes/{{st}}/operating-systems-lab">Λειτουργικά Συστήματα [C/Bash]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/second-year/third-semester/linear_programming_logo.png" alt="graph like structure" width="28">
                        <a href="/notes/{{st}}/math-programming-class">Μαθηματικός Προγραμματισμός</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/second-year/third-semester/compiler_logo.png" alt="compiler logic" width="28">
                        <a href="#">Μεταγλωττιστές [C/C++]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/second-year/third-semester/probability_logo.png" alt="two dice" width="28">
                        <a href="#">Πιθανότητες και Στατιστική</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/second-year/third-semester/graph_theory_logo.png" alt="a graph" width="28">
                        <a href="/notes/{{st}}/graph-theory-theory">Εφαρμογές Θεωρίας Γραφημάτων</a>
                    </div>
                </div>
            </div>

            <div>
                <h4>Τέταρτο Εξάμηνο</h4>

                <div class="lefty spacing1">
                    <div class="is-flex">
                        <img src="/assets/img/second-year/fourth-semester/algorithm_logo.png" alt="imperative steps" width="28">
                        <a href="#">Αλγόριθμοι [C++]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/second-year/fourth-semester/signals_logo.png" alt="function graph" width="28">
                        <a href="/notes/{{sf}}/signals-theory">Αρχές και Εφαρμογές Σημάτων και Συστημάτων [Matlab]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/second-year/fourth-semester/databases_logo.png" alt="sql database" width="28">
                        <a href="/notes/{{sf}}/intro-to-db-theory">Βάσεις Δεδομένων [SQL]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/second-year/fourth-semester/nets_logo.png" alt="ip location on globe" width="28">
                        <a href="/notes/{{sf}}/computer-networks-theory">Δίκτυα Υπολογιστών</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/second-year/fourth-semester/jsp_logo.png" alt="JSP logo" width="28">
                        <a href="/notes/{{sf}}/web-programming-jsp-lab">Προγραμματισμός στο Διαδίκτυο και τον Παγκόσμιο Ιστό [Java]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/second-year/fourth-semester/cs_education_logo.png" alt="stacked books" width="28">
                        <a href="#">Πληροφορική στην Εκπαίδευση</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third Year -->
        <div class="toppy spacing-year">
            <h3>Τρίτο έτος</h3>
            <div>
                <h4>Πέμπτο Εξάμηνο</h4>

                <div class="lefty spacing1">
                    <div class="is-flex">
                        <img src="/assets/img/third-year/fifth-semester/ui_ux.png" alt="" width="28">
                        <a href="#">Αλληλεπίδραση Ανθρώπου και Υπολογιστή [C# .Net Framework]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/third-year/fifth-semester/pattern_recognition.png" alt="" width="28">
                        <a href="#">Αναγνώριση Προτύπων [Matlab]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/third-year/fifth-semester/computer_informatics.png" alt="" width="28">
                        <a href="#">Πληροφοριακά Συστήματα</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/third-year/fifth-semester/akad_grafh.png" alt="" width="28">
                        <a href="#">Επιστημονική Συγγραφή στην Εκπαίδευση</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/third-year/fifth-semester/dbms.png" alt="" width="30">
                        <a href="#">Συστήματα Διαχείρισης Βάσεων Δεδομένων [SQL Python]</a>
                    </div>
    
                    <div class="is-flex">
                        <img src="/assets/img/third-year/fifth-semester/prolog.png" alt="" width="28">
                        <a href="#">Λογικός Προγραμματισμός [Prolog]</a>
                    </div>

                    <div class="is-flex">
                        <img src="/assets/img/third-year/fifth-semester/moodle.png" alt="" width="28">
                        <a href="#">Λογισμικό Διαχείρισης Μάθησης [PHP]</a>
                    </div>

                    <div class="is-flex">
                        <img src="/assets/img/third-year/fifth-semester/cryptography.png" alt="" width="30">
                        <a href="#">Κρυπτογραφία [Python]</a>
                    </div>
                </div>
            </div>

            <!-- <div>
                <h4>Έκτο Εξάμηνο</h4>

            </div> -->
        </div>

        <!-- Fourth Year -->
        <!-- <div class="toppy spacing-year">
            <h3>Τέταρτο έτος</h3>
            <p>

            </p>
            <img src="" alt="">
        </div> -->
    </div>
</div>