<div class="column is-4">
    <div class="block homeblock">
        <h1>Καλώς ήλθατε στο Unipi Notes</h1>
    
        <div style="margin-top: 2em;">
            <h2>
                Τι είναι το Unipi Notes;
            </h2>
            <p>
        
                Είναι ένα project με σκοπό την συκέντρωση σημειώσεων για κάθε μάθημα της σχολής.        
                Όλες οι σημειώσεις είναι δικές μου και τις μοιράζομαι για
                να κάνω έστω και λίγο πιο εύκολη την ζωή σας.
            </p>
        </div>
        
        <div>
            <h2>Τι σημειώσεις μπορώ να βρω;</h2>
            <p>
                Υπάρχουν σημειώσεις για πολλά μαθήματα και έχω σκοπό να τις ανανεώνω συχνά.
                Γενικά οι σημειώσεις χωρίζονται στις εξής κατηγορίες: <b>Class</b>, <b>Theory</b> και <b>Lab</b>.
                Παρόλα αυτά δεν έχει κάθε μάθημα όλες τις κατηγορίες καθώς κάποια μαθήματα για παράδειγμα δεν έχουν εργαστήρια.
            </p>
        </div>

        <div>
            <h2>Τι είναι το Extras repository;</h2>
            <p>
                Είναι ένα repository που περιέχει πληροφορίες για διάφορες τεχνολογίες όπως <b>γλώσσες προγραμματισμού</b>, <b>διάφορα frameworks</b> κ.α.
                Τα οποία δεν σχετίζονται απαραίτητα με την σχολή αλλά είναι πιο πολύ για προσωπική χρήση.
            </p>
        </div>
    </div>
</div>